<form {{action "SubmitForm" on="submit"}}>

	<header>
		<h1>Test Application</h1>
	</header>

	<div class="form-element">
		
		<div {{bind-attr class=":form-slider SlidePosition"}}>
				
			<div class="slide-el">
				<label>Title</label>
				{{view select value=title content=title_options required=true}}

				<label>Name</label>
				{{input type="text" value=users_name placeholder="Name" required=true}}

				<label>DOB</label>
				<div>
					{{view select
						content=days
						value=dob_day
						class="dob"
						required=true
					}}
					{{view select
						content=months
						value=dob_month
						optionValuePath="content.value"
						optionLabelPath="content.month"
						class="dob"
						required=true
					}}
					{{view select
						content=years
						value=dob_year
						class="dob"
						required=true
					}}
				</div>
			</div>

			<div class="slide-el">
				<label>Location</label>
				{{input type="text" value=current_location placeholder="Location" required=true}}

				<label>Current Date/Time</label>
				<div>{{GetDateTime}}</div>
			</div>

			<div class="slide-el">
				<label>Feedback</label>
				{{textarea value=feedback cols="80" rows="6"}}
			</div>

		</div>
	
	</div>

	<div class="controls">
	
		{{#if HasBackOption}}		
			<button role="button" class="btn back" {{action "GotoPreviousPage"}}>
				<span class="glyphicon glyphicon-chevron-left"></span>
				Back
			</button>
		{{/if}}

		{{#if IsLastPage}}
			<button role="submit" class="btn submit">
				Submit
				<span class="glyphicon glyphicon-ok"></span>
			</button>
		{{else}}
			<button role="button" class="btn next" {{action "GotoNextPage"}}>
				Next
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
		{{/if}}

	</div>

</form>